@import "../Theme/variables";

.revenue {
  padding: 15px;
  margin-top: 40px;
  color: $text--black;
  position: relative;

  &__filter {
    position: absolute;
    right: 23px;
    top: 23px;
    font-size: 30px;
    cursor: pointer;
  }

  &__circle {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50px;
    display: inline-flex;

    // ripple effecct
    & > div {
      width: 100%;
    }

    // filter icon
    & > div > svg {
      margin: auto;
    }
  }

  &__title {
    margin-bottom: 19px;
    margin-top: 15px;
    font-size: 22px;
  }

  // bills
  &__bill {
    display: inline-block;
    margin-right: 25px;
  }

  &__month {
    display: block;
    font-size: 12px;
    margin-bottom: 5px;
  }

  &__cost {
    font-size: 24px;
    // font-weight: 550;
  }

  &__chart {
    padding: 15px;
    box-sizing: border-box;
  }
}

.cost--green {
  color: $revenue--green-color;
}

.cost--red {
  color: $revenue--red-color;
}

// .month--bold {
//   font-weight: 600;
// }
