@import "../Theme/variables";

.box {
  margin: 20px;
  color: $text--black;
  background: $pure--white;
  border-radius: 4px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  &--margin {
    margin-top: 20px;
  }
}
