@import "../../../UI/Theme/variables";

.lists {
  margin: 17px;
  overflow-x: auto;

  // table
  &__table {
    min-width: 600px;
  }

  // row
  &__row {
    height: 48px;
    position: relative;
  }

  // actions
  &__action {
    font-size: 1.5em;
    position: absolute;
    line-height: 52px;
    right: 37px;
    cursor: pointer;
    border-radius: 20px;
    background: $pure--white;
  }
}
