@import "../../../UI/Theme/variables";

.sidebar {
  // list
  &__list {
    margin: 50px 0 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
  }

  // item
  &__item {
    padding: 8px 0 8px 25px;
  }

  // svg, icon
  &__icon {
    position: relative;
    top: 3.3px;
  }

  &__icon > svg {
    font-size: 1.7em;
    padding-right: 10px;
    transition: 0.4s ease-out;
  }

  // hover over
  &__item:hover,
  &__item:hover &__link,
  &__item .active,
  &__item .active &__link {
    color: $secondary;
    cursor: pointer;
  }

  &__item .active {
    font-weight: 600;
  }

  // link
  &__link {
    text-decoration: none;
    color: $text--black;
    display: flex;
    align-items: center;
  }

  // bottom, help
  &__bottom {
    position: absolute;
    bottom: 10px;
  }
}

@media (max-width: 1024px) {
  .sidebar {
    // opening sidebar
    &.sidebar__open {
      // links
      .sidebar__placeholder {
        display: block;
      }
    }

    // item
    &__item {
      padding: 15px 0 15px 17px;
    }

    // active
    &__item .active {
      position: relative;
      &:before {
        content: "";
        position: absolute;
        top: -3.9px;
        left: -6.4px;
        background: $light--black;
        border-radius: 80%;
        width: 40px;
        height: 40px;
        z-index: -1;
      }
    }

    // link
    &__placeholder {
      display: none;
    }
  }
}

@media (max-width: 600px) {
  .sidebar__bottom {
    position: relative;
    bottom: 0;
  }
}

@media (orientation: landscape) {
  .sidebar {
    &__bottom {
      position: relative;
      bottom: 0;
    }
  }
}
