@import "../../../UI/Theme/variables";

.wrapper {
  margin: 20px;

  // title
  &__title {
    padding: 17px 17px 0;
  }

  // divider
  &__divider {
    border-bottom: 1px solid $light--border;
  }
}
