@import "../Theme/variables";

.content {
  margin-left: 60px;
  margin-top: 0px !important;
  height: 100vh;
  overflow: hidden;
  background: $bg--dashboard;
}

@media (min-width: 1025px) {
  .content {
    margin-left: 260px;
  }
}

@media (max-width: 600px) {
  .content {
    margin-left: 0;
  }
}
