@import "../Theme/variables";

@import "../../UI/Theme/variables";

.textarea {
  margin-bottom: 35px;
  max-width: 400px !important;

  // label
  & label {
    display: block;
    margin-bottom: 10px;
  }

  // input
  & textarea {
    width: 100% !important;
    border-radius: 25px;
    background: $primary--light;
    padding: 8px 16px;
    font-size: 18px;
    outline: none;
    box-sizing: border-box;
    border: transparent;
  }
}
