@import "../../UI/Theme/variables";

.model {
  position: fixed;
  top: 50%;
  left: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  max-width: 500px;
  width: 95%;
  z-index: 10;
  padding: 10px;

  &__container {
    border-radius: 2px;
    padding: 20px;
    background: $text--white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 550px;
  }
}
