@import "../../../UI/Theme/variables";

.sidebar {
  height: 100vh;
  border-right: 1px solid $light--border;
  position: fixed;
  width: 260px;
  left: 0;
  color: $text--black;
  background: $pure--white;

  // small nav
  &__smallnav > .burger {
    display: none;
  }

  // search hidding
  &__search {
    display: none !important;
  }
}

@media (max-width: 1024px) {
  .sidebar {
    width: 60px;

    // small nav
    &__smallnav {
      // burger
      & > .burger {
        display: block;
        margin: 15px 10px;
      }
      // logo
      & > div {
        display: none;
      }
    }

    // opening sidebar
    &.sidebar__open {
      width: 240px;
      z-index: 2;
      border: none;
    }
  }
}

@media (max-width: 600px) {
  .sidebar {
    width: 0;
    border: none;

    &__search {
      display: block !important;
      border-top: 1px solid $light--border;
    }
  }
}
