@import "../../../UI/Theme/variables";

.sidebar {
  height: 100vh;
  border-right: 1px solid $light--border;
  position: fixed;
  width: 260px;
  left: 0;
  color: $text--black;

  // list
  &__list {
    margin: 50px 0 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
  }

  // item
  &__item {
    padding: 8px 0 8px 25px;
    display: flex;
    align-items: center;
  }

  // svg, icon
  &__item > svg {
    font-size: 1.7em;
    padding-right: 10px;
    transition: 0.4s ease-out;
  }

  // hover over
  &__item:hover,
  &__item:hover &__link,
  &__item.active,
  &__item.active &__link {
    color: $secondary;
    cursor: pointer;
  }

  &__item.active {
    font-weight: 600;
  }

  // link
  &__link {
    text-decoration: none;
    color: $text--black;
  }

  // bottom, help
  &__bottom {
    position: absolute;
    bottom: 10px;
  }
}

@media (max-width: 1024px) {
  .sidebar {
    transform: translateX(-100%);
  }
}
