$primary: #4a5bbf;
$primary--light: #f0f2f5;
$secondary: #f98ba4;
$text--black: #373f49;
$text--white: #fff;
$bg--about: #e4e8fe;
$bg--sky: #cafaef;
$divider: #ffffff80;
$color--footer-links: #121212;
$light--border: #aeb2be;
