$primary: #4a5bbf;
$primary--light: #f0f2f5;
$secondary: #f98ba4;
$text--black: #373f49;
$gray--black: #323232;
$text--white: #fff;
$white--light: #757575;
$bg--about: #e4e8fe;
$bg--sky: #cafaef;
$divider: #ffffff80;
$color--footer-links: #121212;
$light--border: #ebecef;
$light--black: #f2f2f2;
$pure--white: #ffffff;
$bg--dashboard: #f6f7fb;
$color--warning: #fdecea;
$color--warning-text: #f44b43;
$color--success: #edf7ed;
$color--success-text: #d0e7d4;
$bg--success: #4caf50;
$revenue--green-color: #28c76f;
$revenue--red-color: #db4437;
